<div class="clr-row clr-justify-content-center">
    <h2 style="color: #2699FB"><b>Empréstimo Pessoal Online</b></h2>
</div>

<div class="clr-row clr-justify-content-center">
    <h4>DE QUANTO VOCÊ PRECISA?</h4>
</div>

<div class="clr-row clr-justify-content-center">
    <button class="btn btn-oferta" (click)="goParcela(500)">R$ 500,00</button>
    <button class="btn btn-oferta" (click)="goParcela(1000)">R$ 1.000,00</button>
</div>

<div class="clr-row clr-justify-content-center">
    <button class="btn btn-oferta" (click)="goParcela(1500)">R$ 1.500,00</button>
    <button class="btn btn-oferta" (click)="goParcela(2000)">R$ 2.000,00</button>
</div>

<div class="clr-row clr-justify-content-center">
    <button class="btn btn-oferta" (click)="goParcela(2500)">R$ 2.500,00</button>
    <button class="btn btn-oferta" (click)="goParcela(3000)">R$ 3.000,00</button>
</div>

<div class="clr-row clr-justify-content-center">
    <button class="btn btn-oferta" (click)="goParcela(3500)">R$ 3.500,00</button>
    <button class="btn btn-oferta" (click)="goParcela(4000)">R$ 4.000,00</button>
</div>

<div class="clr-row clr-justify-content-center">
    <button class="btn btn-oferta" (click)="goParcela(4500)">R$ 4.500,00</button>
    <button class="btn btn-oferta" (click)="goParcela(5000)">R$ 5.000,00</button>
</div>

<div class="clr-row clr-justify-content-center">
    <button class="btn btn-oferta" style="width: 332px;">Outro Valor</button>
</div>

<div class="clr-row clr-justify-content-center">
    <h4>CONHEÇA NOSSAS VANTAGENS</h4>
</div>

<div class="clr-row">
    <p><clr-icon shape="check" style="color: #2699FB"></clr-icon> Emprestimo 100% Online</p>
    <p><clr-icon shape="check" style="color: #2699FB"></clr-icon> Dinheiro na sua conta em até 6 horas úteis</p>
    <p><clr-icon shape="check" style="color: #2699FB"></clr-icon> Até 45 dias para começar a pagar</p>
    <p><clr-icon shape="check" style="color: #2699FB"></clr-icon> Pagamento via boleto bancario</p>
</div>
